@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3D62AC;
  --foreground: #171717;
  --font-futura-heavy: 'Futura Heavy', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-futura-heavy);
}

.react-date-picker__wrapper {
  border: none !important;
  background: transparent;
}


.hexagon-wrapper {
  clip-path: polygon(25% 0%, 75% 0%,
      100% 50%, 75% 100%,
      25% 100%, 0% 50%);
  background: #014A7F;
  padding: 4px;
}

.hexagon-shape {
  clip-path: polygon(25% 0%, 75% 0%,
      100% 50%, 75% 100%,
      25% 100%, 0% 50%);
  background: linear-gradient(to bottom, #0B0428, #014A7F);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}