@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0428;
  --foreground: #171717;
  --font-futura-heavy: 'Futura Heavy', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-futura-heavy);
}

.react-date-picker__wrapper {
  border: none !important;
  background: transparent;
}